.menuTop {
  width: 100%;
  padding: 20px;
  background-color: rgb(11, 39, 58);
  position: relative;
  top: -8px;
  border-bottom: 2px solid rgb(7, 200, 226);
  box-shadow: 3px 3px 11px rgb(7, 200, 226);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
a:hover::after {
  height: 1400px;
  width: 1400px;
  filter: drop-shadow(2px 0px 1em #61d7fb);
}
.divLinks {
  display: flex;
}

.line::after {
  content: "";
  width: 0;
  height: 2px;
  display: flex;
  flex-direction: row;
  background-color: rgb(7, 200, 226);
  box-shadow: 3px 3px 11px rgb(7, 200, 226);
  filter: drop-shadow(2px 0px 1em #61d7fb);
  transition: 0.7s;
}

.line:hover::after {
  box-shadow: 3px 3px 11px rgb(7, 200, 226);
  flex-direction: row;
  width: 100%;
  height: 2px;
  display: flex;
  filter: drop-shadow(2px 0px 1em #61d7fb);
  background-color: rgb(7, 200, 226);
  transition: 0.7s;
}

.menuTop a {
  text-transform: uppercase;
  color: white;
  padding: 20px;
  transition: 0.5s;
  font-size: 1.2rem;
  font-weight: bold;
}
.menuTop a:hover {
  color: rgb(7, 200, 226);
  text-shadow: 0px 0px 7px rgb(7, 200, 226);
}
.menuMob {
  display: none;
}
.checkBoxInput {
  display: none;
}
.logoMob {
  display: none;
}
.menuMobile {
  display: none;
}

@media (max-width: 1024px) {
  .divLinks a {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .divLinks a {
    font-size: 0.8rem;
    /* fazer menu hamburguer */
  }
  .flexTop {
    display: none;
  }
  .menuMob span {
    content: "";
    width: 40px;
    height: 5px;
    background-color: rgb(10, 223, 252);
    position: absolute;
    top: 37px;
    right: 10px;
    transition: 0.5s;
    filter: drop-shadow(2px 0px 1em #61d7fb);
  }
  .menuMob span::after {
    content: "";
    width: 40px;
    height: 5px;
    background-color: rgb(10, 223, 252);
    position: absolute;
    top: 8px;
    right: 0px;
    transition: 0.5s;
  }
  .menuMob span::before {
    content: "";
    width: 40px;
    height: 5px;
    background-color: rgb(10, 223, 252);
    position: absolute;
    top: -8px;
    right: 0px;
    transition: 0.5s;
  }
  .logoDesk {
    display: none;
  }
  .menuTop {
    justify-content: space-between;
  }
  .checkBoxInput {
    width: 35px;
    height: 35px;
    top: 20px;
    right: 12px;
    position: absolute;
    opacity: 0;
    z-index: 1;
  }
  .menuMob .checkBoxInput:checked ~ span::before {
    transform: rotate(225deg);
    top: 0px;
    transition: 0.5s;
  }
  .menuMob .checkBoxInput:checked ~ span::after {
    transform: rotate(-225deg);
    top: 0px;
    transition: 0.5s;
  }
  .menuMob .checkBoxInput:checked ~ span {
    background-color: transparent;
  }

  .menuMob .checkBoxInput:checked ~ .menuMobile {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96vw;
    margin: auto;
    text-align: center;
    transition: 1.5s;
  }
  .logoMob {
    text-align: center;
    display: block;
  }
  .menuMob {
    display: block;
  }
  .checkBoxInput {
    display: block;
  }
}
