.skills {
  background-color: #271b49;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillsDiv {
  display: flex;
  width: 55%;
  justify-content: space-between;
  align-items: center;
}

.imagensSkills {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
}

.imagensSkills button {
  width: 155px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  transition: 0.5s;
  background-color: rgb(10, 3, 32);
  cursor: pointer;
  border-radius: 10px;
  border: none;
}
.imagensSkills button img {
  transition: 0.5s;
  filter: grayscale(100%);
}
.imagensSkills button:hover {
  border: 1px solid #01f8f8;
  box-shadow: inset 1px 1px 15px #01f8f8;
}
.imagensSkills button:hover img {
  filter: grayscale(0%);
}

.imagensSkills button img {
  width: 110px;
}
