* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Oswald", sans-serif;
}

body {
  background-color: #100a22;
}

.maxWidth {
  max-width: 1111px;
}
