* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Oswald", sans-serif;
}

body {
  background-color: rgb(10, 3, 32);
}

.maxWidth {
  max-width: 1111px;
}
.svgL {
  width: 40px;
}
.svgR {
  width: 40px;
  transform: rotate(180deg);
}
.titleSection {
  text-shadow: 1px 1px 15px rgb(7, 200, 226);
  color: rgb(7, 200, 226);
  width: 175px;
  height: 60px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.section {
  margin: auto;
  padding: 50px 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
}
